In [ ]:
import pandas as pd
# from pandasgui import show
from IPython.display import display

# Load the data
df = pd.read_csv('MBA_Data.csv')

# Remove Timestamp
df = df.drop(columns=['Timestamp'])

# Add TransactionID
df.insert(0, 'TransactionID', range(1, len(df) + 1))

# List of items to one-hot encode
item_list = ['Milk','Bread','Eggs','Cheese','Rice','Pasta/Noodles','Shampoo','Detergent','Chips','Chocolate','Juice','Vegetables','Fruits']

# Clean up the items column name (it may have line breaks or extra text)
items_col = [col for col in df.columns if 'Items Purchased' in col][0]

# Function to check if item is in the purchased list
def has_item(items, item):
    if pd.isna(items):
        return 0
    return int(item in [i.strip() for i in items.split(',')])

# One-hot encode items
for item in item_list:
    df[item] = df[items_col].apply(lambda x: has_item(x, item))

# (Optional) Keep only relevant columns for association rule mining
basket_df = df[['TransactionID'] + item_list]

# …existing code…

# — Add segmentation columns for Rural/Urban/Metro —
# replace 'City' with your actual segment column name if different
segment_col = 'City'
segments = ['Rural', 'Urban', 'Metro']
for seg in segments:
    df[seg] = df[segment_col].apply(lambda x: 1 if x == seg else 0)


# Save for further analysis
basket_df.to_csv('MBA_Basket_OneHot_Segmented.csv', index=False)

# Display a sample
print(basket_df.head())
display(basket_df)

# Or, export to Excel for viewing in a separate window
basket_df.to_excel('MBA_Basket_OneHot.xlsx', index=False)
print("Saved to MBA_Basket_OneHot.xlsx. Open this file in Excel for a full view.")

# show(basket_df)

# Further steps for Market Basket Analysis:
# - Use mlxtend.frequent_patterns.apriori and association_rules for mining
# - Visualize frequent itemsets and rules
# - Segment analysis by demographic columns if needed

ValueError: cannot insert TransactionID, already exists

In [11]:
import pandas as pd
from IPython.display import display

# 1. Load the data
df = pd.read_csv('MBA_Data.csv')
df = df.drop(columns=['Timestamp'])

# 2. Add TransactionID if missing
if 'TransactionID' not in df.columns:
    df.insert(0, 'TransactionID', range(1, len(df) + 1))

# 3. One‐hot encode items
item_list = [
    'Milk','Bread','Eggs','Cheese','Rice','Pasta/Noodles',
    'Shampoo','Detergent','Chips','Chocolate','Juice',
    'Vegetables','Fruits'
]
items_col = [c for c in df.columns if 'Items Purchased' in c][0]

def has_item(cell, item):
    if pd.isna(cell):
        return 0
    return int(item in [i.strip() for i in cell.split(',')])

for item in item_list:
    df[item] = df[items_col].apply(lambda x: has_item(x, item))

# 4. Correct segmentation of City into one‐hots
segment_col = 'City'
segment_map = {
    'Rural':     'Rural (Villagers/Small Towns)',
    'Urban':     'Urban (City/Metro)',
    'Suburban':  'Suburban (Outskirts)'
}
for seg_name, seg_val in segment_map.items():
    df[seg_name] = (df[segment_col] == seg_val).astype(int)

# 5. Build final basket dataframe
basket_df = df[['TransactionID'] + list(segment_map.keys()) + item_list]

# 6. Save & display
basket_df.to_csv('MBA_Basket_OneHot_Segmented.csv', index=False)
basket_df.to_excel('MBA_Basket_OneHot_Segmented.xlsx', index=False)
print(basket_df.head())
display(basket_df)

   TransactionID  Rural  Urban  Suburban  Milk  Bread  Eggs  Cheese  Rice  \
0              1      0      0         1     1      1     1       1     0
1              2      0      1         0     1      0     0       1     0
2              3      0      1         0     0      0     1       0     0
3              4      0      1         0     1      1     1       1     0
4              5      0      1         0     1      0     0       0     0

   Pasta/Noodles  Shampoo  Detergent  Chips  Chocolate  Juice  Vegetables  \
0              1        1          1      1          1      1           1
1              0        0          0      1          1      1           1
2              0        0          0      0          0      1           1
3              1        1          1      1          1      1           0
4              0        0          0      0          0      0           1

   Fruits
0       1
1       1
2       1
3       1
4       1

,TransactionID,Rural,Urban,Suburban,Milk,Bread,Eggs,Cheese,Rice,Pasta/Noodles,Shampoo,Detergent,Chips,Chocolate,Juice,Vegetables,Fruits
0,1,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1
1,2,0,1,0,1,0,0,1,0,0,0,0,1,1,1,1,1
2,3,0,1,0,0,0,1,0,0,0,0,0,0,0,1,1,1
3,4,0,1,0,1,1,1,1,0,1,1,1,1,1,1,0,1
4,5,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,106,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
106,107,0,1,0,1,1,1,0,0,0,0,0,1,1,0,1,1
107,108,0,1,0,1,0,0,0,0,0,1,1,1,0,1,0,1
108,109,1,0,0,1,1,1,0,0,0,0,0,0,0,0,1,1
109,110,0,1,0,1,1,1,0,1,0,0,1,0,0,0,1,1

In [ ]:
# …existing code…

# Add TransactionID (only if not already there)
if 'TransactionID' not in df.columns:
    df.insert(0, 'TransactionID', range(1, len(df) + 1))

# …existing code…

In [13]:
# New cell: Frequent pattern mining and association rules
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from IPython.display import display

# Load one-hot encoded basket
df_onehot = pd.read_csv('MBA_Basket_OneHot_Segmented.csv')

# Run Apriori (e.g. min_support=5%)
freq_itemsets = apriori(
    df_onehot.drop(columns=['TransactionID']),
    min_support=0.05,
    use_colnames=True
)

# Generate rules (e.g. lift ≥ 1.2)
rules = association_rules(
    freq_itemsets,
    metric='lift',
    min_threshold=1.2
)

# Display top patterns and rules
display(freq_itemsets.sort_values('support', ascending=False).head(10))
display(rules.sort_values('lift', ascending=False).head(10))

# Save rules for later review
rules.to_csv('association_rules.csv', index=False)
print("Saved to association_rules.csv")

c:\ProgramData\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support              itemsets
14   0.745455          (Vegetables)
15   0.672727              (Fruits)
128  0.636364  (Vegetables, Fruits)
3    0.572727                (Milk)
5    0.563636                (Eggs)
1    0.527273               (Urban)
82   0.500000    (Eggs, Vegetables)
61   0.472727    (Vegetables, Milk)
10   0.463636           (Detergent)
83   0.454545        (Eggs, Fruits)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
184370,"(Cheese, Chocolate, Urban, Detergent)","(Eggs, Juice, Bread, Shampoo)",0.054545,0.072727,0.054545,1.00,13.75,1.0,0.050579,inf,0.980769,0.75,1.000000,0.875
184158,"(Eggs, Juice, Bread, Shampoo)","(Chips, Cheese, Urban, Detergent)",0.072727,0.054545,0.054545,0.75,13.75,1.0,0.050579,3.781818,1.000000,0.75,0.735577,0.875
184103,"(Chips, Cheese, Urban, Detergent)","(Eggs, Juice, Bread, Shampoo)",0.054545,0.072727,0.054545,1.00,13.75,1.0,0.050579,inf,0.980769,0.75,1.000000,0.875
210884,"(Eggs, Juice, Bread, Shampoo)","(Chips, Cheese, Detergent, Chocolate, Urban)",0.072727,0.054545,0.054545,0.75,13.75,1.0,0.050579,3.781818,1.000000,0.75,0.735577,0.875
184399,"(Eggs, Juice, Bread, Shampoo)","(Cheese, Chocolate, Urban, Detergent)",0.072727,0.054545,0.054545,0.75,13.75,1.0,0.050579,3.781818,1.000000,0.75,0.735577,0.875
210702,"(Chips, Shampoo, Eggs, Bread, Juice)","(Cheese, Chocolate, Urban, Detergent)",0.072727,0.054545,0.054545,0.75,13.75,1.0,0.050579,3.781818,1.000000,0.75,0.735577,0.875
210788,"(Chips, Cheese, Urban, Detergent)","(Shampoo, Eggs, Chocolate, Bread, Juice)",0.054545,0.072727,0.054545,1.00,13.75,1.0,0.050579,inf,0.980769,0.75,1.000000,0.875
210855,"(Cheese, Chocolate, Urban, Detergent)","(Chips, Shampoo, Eggs, Bread, Juice)",0.054545,0.072727,0.054545,1.00,13.75,1.0,0.050579,inf,0.980769,0.75,1.000000,0.875
210673,"(Chips, Cheese, Detergent, Chocolate, Urban)","(Eggs, Juice, Bread, Shampoo)",0.054545,0.072727,0.054545,1.00,13.75,1.0,0.050579,inf,0.980769,0.75,1.000000,0.875
210769,"(Shampoo, Eggs, Chocolate, Bread, Juice)","(Chips, Cheese, Urban, Detergent)",0.072727,0.054545,0.054545,0.75,13.75,1.0,0.050579,3.781818,1.000000,0.75,0.735577,0.875

Saved to association_rules.csv

In [5]:
import pandas as pd
from IPython.display import display

# Load your full set of association rules
rules = pd.read_csv(r'C:\Users\deraj\Hall of Codes\BA\Market_Basket_Analysis\association_rules.csv')

# Filter by support, confidence, and lift
filtered = rules[
    (rules['support']  > 0.10) &
    (rules['confidence'] > 0.50) &
    (rules['lift']     > 1.20)
].sort_values(by='lift', ascending=False)

# Show the top 10 of these filtered rules
top_filtered = filtered.head(10)

# display in notebook
display(top_filtered)
top_filtered.to_csv('top_filtered.csv', index=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
19975,"frozenset({'Detergent', 'Eggs', 'Chocolate'})","frozenset({'Bread', 'Chips'})",0.136364,0.181818,0.109091,0.800000,4.400000,1.0,0.084298,4.090909,0.894737,0.521739,0.755556,0.700000
27259,"frozenset({'Detergent', 'Chips'})","frozenset({'Eggs', 'Shampoo', 'Chocolate'})",0.227273,0.118182,0.118182,0.520000,4.400000,1.0,0.091322,1.837121,1.000000,0.520000,0.455670,0.760000
19994,"frozenset({'Bread', 'Chips'})","frozenset({'Detergent', 'Eggs', 'Chocolate'})",0.181818,0.136364,0.109091,0.600000,4.400000,1.0,0.084298,2.159091,0.944444,0.521739,0.536842,0.700000
27254,"frozenset({'Eggs', 'Shampoo', 'Chocolate'})","frozenset({'Detergent', 'Chips'})",0.118182,0.227273,0.118182,1.000000,4.400000,1.0,0.091322,inf,0.876289,0.520000,1.000000,0.760000
22876,"frozenset({'Detergent', 'Bread', 'Chocolate'})","frozenset({'Pasta/Noodles', 'Chips'})",0.136364,0.200000,0.118182,0.866667,4.333333,1.0,0.090909,6.000000,0.890688,0.541667,0.833333,0.728788
22885,"frozenset({'Pasta/Noodles', 'Chips'})","frozenset({'Detergent', 'Bread', 'Chocolate'})",0.200000,0.136364,0.118182,0.590909,4.333333,1.0,0.090909,2.111111,0.961538,0.541667,0.526316,0.728788
22890,"frozenset({'Bread', 'Chocolate'})","frozenset({'Detergent', 'Pasta/Noodles', 'Chip...",0.190909,0.145455,0.118182,0.619048,4.255952,1.0,0.090413,2.243182,0.945549,0.541667,0.554205,0.715774
22871,"frozenset({'Detergent', 'Pasta/Noodles', 'Chip...","frozenset({'Bread', 'Chocolate'})",0.145455,0.190909,0.118182,0.812500,4.255952,1.0,0.090413,4.315152,0.895254,0.541667,0.768258,0.715774
22889,"frozenset({'Bread', 'Chips'})","frozenset({'Detergent', 'Pasta/Noodles', 'Choc...",0.181818,0.154545,0.118182,0.650000,4.205882,1.0,0.090083,2.415584,0.931624,0.541667,0.586022,0.707353
22872,"frozenset({'Detergent', 'Pasta/Noodles', 'Choc...","frozenset({'Bread', 'Chips'})",0.154545,0.181818,0.118182,0.764706,4.205882,1.0,0.090083,3.477273,0.901572,0.541667,0.712418,0.707353

In [ ]:
from IPython.display import display

# Display interactively in the notebook
display(basket_df)

# Or, export to Excel for viewing in a separate window
basket_df.to_excel('MBA_Basket_OneHot.xlsx', index=False)
print("Saved to MBA_Basket_OneHot.xlsx. Open this file in Excel for a full view.")

In [3]:
import pandas as pd
# import ace_tools as tools

# Load the data
path = r'C:\Users\deraj\Hall of Codes\BA\Market_Basket_Analysis\MBA_Data.xlsx'
df = pd.read_excel(path)

# Define the metadata columns to exclude from items
meta_cols = [
    'Timestamp',
    'Name (Please use the same name if you\'re filling it multiple times)',
    'Age Group',
    'Gender',
    'When do you generally buy Grocery?',
    'Total Spend (On Average) Enter a number like 1000/5000 (no commas or words)',
    'Loyalty ( Do you keep going to the same place or change frequently? )',
    'City'
]

# Identify item columns by exclusion
item_cols = [col for col in df.columns if col not in meta_cols]

# Create TransactionID
df['TransactionID'] = df.index + 1

# Combine selected items into a list per transaction (non-null entries indicate selection)
df['Items'] = df[item_cols].apply(lambda row: [col for col in item_cols if pd.notna(row[col])], axis=1)

# Prepare the transactional dataframe
transactions_df = df[['TransactionID', 'Items'] + meta_cols]

# Display a sample (replacing tools.display_dataframe_to_user with standard pandas display)
print("Prepared Transaction Data Sample")
display(transactions_df.head())

transactions_df.to_csv('MBA_transactions.csv', index=False)
print("Exported transactions to MBA_transactions.csv")

Prepared Transaction Data Sample

,TransactionID,Items,Timestamp,Name (Please use the same name if you're filling it multiple times),Age Group,Gender,When do you generally buy Grocery?,Total Spend (On Average) Enter a number like 1000/5000 (no commas or words),Loyalty ( Do you keep going to the same place or change frequently? ),City
0,1,[When do you generally buy Grocery? (Time of t...,2025-05-12 01:08:42.080,Sharan Karthick BL,18 - 24,Male,Weekdays,500,Yes,Suburban (Outskirts)
1,2,[When do you generally buy Grocery? (Time of t...,2025-05-12 02:17:44.829,Varun Mantri,18 - 24,Male,Weekdays,1000,Yes,Urban (City/Metro)
2,3,[When do you generally buy Grocery? (Time of t...,2025-05-12 03:01:13.774,Sathyanarayan,18 - 24,Male,Weekends,800,Yes,Urban (City/Metro)
3,4,[When do you generally buy Grocery? (Time of t...,2025-05-12 07:27:32.507,Punith,18 - 24,Male,Weekends,1500,No,Urban (City/Metro)
4,5,[When do you generally buy Grocery? (Time of t...,2025-05-12 07:36:01.196,Chandrasekaran J,18 - 24,Male,Weekdays,500,Yes,Urban (City/Metro)

Exported transactions to MBA_transactions.csv

In [6]:
import pandas as pd

# Load original CSV
df = pd.read_csv('MBA_Data.csv')

# Insert TransactionID as first column
df.insert(0, 'TransactionID', range(1, len(df) + 1))

# Overwrite the CSV (or change filename to keep both)
df.to_csv('MBA_Data.csv', index=False)

print("Added TransactionID and saved MBA_Data.csv")

Added TransactionID and saved MBA_Data.csv